.btn {
    border: 0;
    border-radius: 5px;
    background:#444;
    font-size: 1rem;
    color: white;
    padding: 0.7rem 0.9rem;
    margin: 0.5em auto;
    display: inline-block;
    cursor: pointer;
// use the & symbol to specify that you are asking for the parent selector.
 &:hover {
     background: #800;
 }
//  & symbol can be used to create a suffix class (.btn-primary)
 &-primary {
     background: #3ab5e9;
 }
//  & can be used to create a prefix class (.container .btn)
 .container & {
     float: right;
     margin-left: 0.5em;
 }
}