.btn {
    border: 0;
    border-radius: 5px;
    background: #444;
    font-size: 1rem;
    color: white;
    padding: 0.7rem 0.9rem;
    margin: 0.5em auto;
    display: inline-block;
    cursor: pointer;
  
    &-primary {
      @extend .btn;
      background: #3ab5e9;
    }
    &-secondary {
      @extend .btn;
      background: orange;
    }
  }
  